.new-tweet {
    display: none;
    margin-bottom: 1.5em;
}

.new-tweet h2 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.new-tweet form textarea {
    width:100%;
    height: 3em;
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 4px solid gray;
    outline: none;
    padding-top: 0.5em;
    background-color: #e2ded7;
    font-size: 20px;
}

.new-tweet div {
    display: flex;
    justify-content: space-between;
}

.new-tweet button {
    background-color: #4056A1;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.new-tweet button:hover {
    background-color: blue;
    transition: 0.3s;
    box-shadow: 2px 2px 2px #4056A1;
    cursor: pointer;
}

.new-tweet output {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 30px;
    padding-right: 0.2em;
}
.new-tweet output.red {
    color:red;
}

.new-tweet #limit-exceed {
    color:red;
    font-weight: 600;
    margin: auto;
    max-width: 1000px;
    border: 2px solid red;
    padding: 0.2em 0;
    display: none;
}
.new-tweet #limit-exceed p {
    display: inline;
}